{% extends "hello/layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block content %}
<!--learnt about text basics such as entities, how to break up sessions using <br> and
how to create sematics-->
<h1>My First Web Page</h1>
<p>Learning html be like</p>

<hr>

<h2>This is actually kinda cool</h2>
<p>seeing the text size changing</p>
<h3>changing again</h3>
<p>changing again</p>
<h4>changing again!</h4>
<p>so apparently h[number]makes the text bold very cool</p>
<p>so apparently white space collapse is a thing! so to break a line
    <br> use "&lt;br!&gt;"
    <br> this is very cool yo
    <br> also the way to type out &lt; would be "&"+"lt", this is called entities
    <strong>interesting wehhhh</strong>
</p>
<hr>
    <address>Note to self: link to <a href="https://github.com/jiaenkoh0327-ctrl/learning-html.git"> entities</a></address>
{% endblock%}