{% extends "hello/layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block content %}
<!--learnt about text basics such as entities, how to break up sessions using <br> and
how to create sematics-->
<h1>My First Web Page</h1>
<p>Learning html be like</p>

<hr>

<h2>This is actually kinda cool</h2>
<p>seeing the text size changing</p>
<h3>changing again</h3>
<p>changing again</p>
<h4>changing again!</h4>
<p>so apparently h[number]makes the text bold very cool</p>
<p>so apparently white space collapse is a thing! so to break a line
    <br> use "&lt;br!&gt;"
    <br> this is very cool yo
    <br> also the way to type out &lt; would be "&"+"lt", this is called entities
    <strong>interesting wehhhh</strong>
</p>
<hr>
    <h3>Part 4: Lists</h3>
    <ol>
        <li>&lt;ol&gt; indicates an ordered list</li>
        <li>This indicates there will be numbers in front of every line</li>
        <li>And free spacing!</li>
    </ol>

    <ul>
        <li>&lt;ul&gt;indicates an unordered list</li>
        <li>This indicates a bullet point will be used instead of numbers</li>
        <li>Spacing remains tho!</li>
        <li>This can also be nested
            <p>So only the first line gets a bullet point</p>
        </li>
    </ul>
    <p>&lt;dl&gt;indicates a description list
    <dl>
        <dt>Where the title sticks to the corner</dt>
        <dd>And description gets indented</dd>
        <dt>Knock knock</dt>
        <dd>Who's there?</dd>
        <dt>&lt;dt&gt;</dt>
        <dd>and &lt;dd&gt; :DD </dd>
      
    </dl>


    <hr>
    <address>Note to self: link to <a href="https://github.com/jiaenkoh0327-ctrl/learning-html.git"> entities</a></address>
{% endblock%}